/* Header.css */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f9fa;
}

.logo {
  font-weight: bold;
  color: #5e72e4; /* Adjust the color to match your branding */
  font-size: 70px;
}

.navigation ul {
  list-style: none;
  display: flex;
  margin: 10px;
  padding: 5px;
}

.navigation li {
  margin: auto;
  cursor: pointer;
  padding: 5px;
  cursor: pointer;
  background-color: #f8f9fa;
  transition: background-color 0.3s
}

.log-out {
  background-color: #5e72e4; 
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
   font-size: 15px;
}

.log-out:hover {
  background-color: #4e62d4; /* Darker shade for hover state */
}
